# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Jekyll’s logo"]
	path = Jekyll’s logo
	url = https://github.com/jekyll/brand.git
	ignore = dirty
	shallow = true
[submodule "Jekyll runtime dependency metapackages"]
	path = Jekyll runtime dependency metapackages
	url = https://gitlab.com/brlin/jekyll-runtime-dependency-metapackages.git
	ignore = dirty
[submodule "Hello Jekyll"]
	path = Hello Jekyll
	url = https://gitlab.com/brlin/hello-jekyll.git
	ignore = dirty
